header {
  background-color: #181818;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 8px 12px #000000b0;
}

header img {
  aspect-ratio: 1;
  border: 2px solid #b39cd0;
  border-radius: 0.25rem;
  width: 12rem;
}

form {
  background-color: #181818;
  border-radius: 0.25rem;
  flex-direction: column;
  gap: 0.5rem;
  width: 22.5rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 4px 8px #0000001a;
}

form .group {
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
}

form label {
  font-weight: 700;
}

form input {
  color: #e4e4e4;
  background-color: #282828;
  border: 1px solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number'] {
  appearance: textfield;
}

.error-message {
  color: #ff6b6b;
  font-size: 0.875rem;
}

form button {
  color: #fff;
  background-color: #b39cd0;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-weight: 700;
  transition: background-color 0.3s;
}
