@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('/CaskaydiaCoveNFM-Regular.eot');
    src: url('/CaskaydiaCoveNFM-Regular.eot?#iefix') format('embedded-opentype'),
        url('/CaskaydiaCoveNFM-Regular.woff2') format('woff2'),
        url('/CaskaydiaCoveNFM-Regular.woff') format('woff'),
        url('/CaskaydiaCoveNFM-Regular.svg#CaskaydiaCoveNFM-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Base Styles */

:root {
  --bg-color: #323232;
  --text-color: #E4E4E4;

  font-size: 16px;
  font-family: 'CaskaydiaCove NFM', monospace;
  font-size: 16px;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding: 1rem;
  padding-top: 2rem;
}

